.border-bottom {
  background-color: var(--main-offline);
  height: 7px;
  border-radius: 70% 65% 7% 10%;
  margin-bottom: -2px;
}

.card-devices {
  width: 100%;
  border: 1px solid #999999;
}

.card-text {
  font-size: 10px;
}

.sub-title {
  margin-top: 20px;
  font-size: 1px;
}

.zoom:hover {
  -ms-transform: var(--main-scale);
  -webkit-transform: var(--main-scale);
  transform: var(--main-scale);
  box-shadow: 10px 10px 5px #aaaaaa;
}

